---
apiVersion: tekton.dev/v1alpha1
kind: PipelineRun
metadata:
  name: preview-url-run
spec:
  resources:
    - name: source
      resourceSpec:
        type: git
        params:
          - name: revision
            value: work
          - name: url
            value: https://github.com/chmouel/openshift-pipelines-e2e-demo
    - name: pr
      resourceSpec:
        type: pullRequest
        params:
        - name: url
          # I just picked a random PR. The first couple didn't have any interesting comments or labels.
          value: https://github.com/chmouel/openshift-pipelines-e2e-demo/pull/6
        secrets:
          - fieldName: authToken
            secretName: github-secret
            secretKey: secretToken
    - name: image
      resourceSpec:
        type: image
        params:
          - name: url
            value: image-registry.openshift-image-registry.svc.cluster.local:5000/tekton-demo/demo:e0658cd251677bb01539e2377109face585f3484
  pipelineRef:
    name: preview-url
  serviceAccountName: tekton-demo-triggers-sa

# Local Variables:
# mode: yaml
# End:
